[Unit]
Description=Start hstdb server

[Service]
ExecStart=%h/.cargo/bin/hstdb server
ExecStop=%h/.cargo/bin/hstdb stop

[Install]
WantedBy=default.target
